Repository charlesrocket/ghext, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, test, ops

chore: add license
  LICENSE
Labels: none

ops: configure codecov
  codecov.yml
Labels: ops

docs: add readme
  README.md
Labels: documentation

feat: add `Ghext`
  build.zig
  build.zig.zon
  src/root.zig
Labels: build

feat: add `read()`
  src/root.zig
Labels: none

feat: add `hash_short`
  src/root.zig
Labels: none

ops: add `release` job
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ops

build: generate documentation
  build.zig
Labels: build

build: add `lib`
  build.zig
Labels: build

build: fix docs step
  build.zig
Labels: build

docs: comment main struct
  src/root.zig
Labels: none

docs: add changelog
  CHANGELOG.md
  build.zig.zon
Labels: build

feat: support tags
  build.zig
  src/root.zig
Labels: build

feat: add repository state
  src/root.zig
Labels: none

ops: deploy documentation
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ops

chore(release): prepare for 0.1.0
  CHANGELOG.md
Labels: none

ops: rename docs task
  .github/workflows/cd.yml
Labels: ops

fix: use local allocator
  src/root.zig
Labels: none

feat: use local module
  build.zig
  src/root.zig
Labels: build

chore: bump version to 0.2.0
  build.zig.zon
Labels: build

fix: replace allocators
  src/root.zig
Labels: none

fix!: drop `Self.allocator`
  src/root.zig
Labels: none

fix: correct slice ownership
  src/root.zig
Labels: none

fix: use fixed size array
  src/root.zig
Labels: none

refactor: drop `Self`
  src/root.zig
Labels: none

chore(release): prepare for 0.2.0
  CHANGELOG.md
Labels: none

docs: update comments
  src/root.zig
Labels: none

feat: add validator
  src/root.zig
Labels: none

chore: bump version to 0.3.0
  build.zig.zon
Labels: build

refactor: drop redundant `@This()`
  src/root.zig
Labels: none

fix: fix binary check
  src/root.zig
Labels: none

feat: support SHA256
  src/root.zig
Labels: none

docs: comment `deinit()`
  src/root.zig
Labels: none

chore(release): prepare for 0.3.0
  CHANGELOG.md
Labels: none

docs: add example
  README.md
Labels: documentation

docs: use `hash_short`
  README.md
Labels: documentation

docs: update description
  README.md
Labels: documentation

feat: expose `Ghext` for build system usage
  build.zig
Labels: build

docs: add build system setup
  README.md
Labels: documentation

docs: update ghext commit
  README.md
Labels: documentation

.github/labeler.yml:

---

documentation:
- changed-files:
  - any-glob-to-any-file: 'README.md'

build:
- changed-files:
  - any-glob-to-any-file: ['build.zig.zon', 'build.zig']

test:
- changed-files:
  - any-glob-to-any-file: 'test/**/*'

ops:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml']

feature:
 - head-branch: ['^feature', 'feature']
