Repository charlesrocket/ghext, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, test, ops

docs: update installation
  README.md
Labels: documentation

chore: bump version to 0.7.3
  build.zig.zon
Labels: build

build: use `addLibrary()`
  build.zig
Labels: build

chore(release): prepare for 0.7.3
  CHANGELOG.md
Labels: none

docs: update package hash
  README.md
Labels: documentation

fix: update arrays
  src/ghext.zig
Labels: none

ops: bump zig to 0.15.1
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ops

ops(lint): set zig version
  .github/workflows/ci.yml
Labels: ops

chore(release): prepare for 0.7.4
  CHANGELOG.md
  build.zig.zon
Labels: build

build: fix kcov command
  build.zig
Labels: build

ops(coverage): switch to kcov container
  .github/workflows/ci.yml
Labels: ops

ops(coverage): set `fetch-depth`
  .github/workflows/ci.yml
Labels: ops

test: fix coverage
  build.zig
Labels: build

ops: update coverage job
  .github/workflows/ci.yml
Labels: ops

build: clean kcov runs
  build.zig
Labels: build

test: fix no-git case
  src/ghext.zig
Labels: none

feat: support packed refs
  src/ghext.zig
Labels: none

fix: drop static buffer
  src/ghext.zig
Labels: none

refactor: optimize returns
  src/ghext.zig
Labels: none

refactor: move `proc` deallocations
  src/ghext.zig
Labels: none

refactor: optimize `isValid()`
  src/ghext.zig
Labels: none

refactor: use direct comparison
  src/ghext.zig
Labels: none

build: bump version to 0.7.5
  build.zig.zon
Labels: build

chore(release): prepare for 0.7.5
  CHANGELOG.md
Labels: none

build: bump version to 0.7.6
  build.zig.zon
Labels: build

ops: bump zig to 0.16
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ops

fix: switch to `std.Io`
  src/ghext.zig
Labels: none

chore(release): prepare for 0.7.6
  CHANGELOG.md
  build.zig.zon
Labels: build

docs: update installation
  README.md
Labels: documentation

.github/labeler.yml:

---

documentation:
- changed-files:
  - any-glob-to-any-file: 'README.md'

build:
- changed-files:
  - any-glob-to-any-file: ['build.zig.zon', 'build.zig']

test:
- changed-files:
  - any-glob-to-any-file: 'test/**/*'

ops:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml']

feature:
 - head-branch: ['^feature', 'feature']
