Repository charlesrocket/ghext, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, test, ops

.github/labeler.yml:

---

documentation:
- changed-files:
  - any-glob-to-any-file: 'README.md'

build:
- changed-files:
  - any-glob-to-any-file: ['build.zig.zon', 'build.zig']

test:
- changed-files:
  - any-glob-to-any-file: 'test/**/*'

ops:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml']

feature:
 - head-branch: ['^feature', 'feature']

docs: update app usage
  README.md
Labels: documentation

feat!: add `state`
  src/ghext.zig
Labels: none

chore: bump version to 0.7.0
  build.zig.zon
Labels: build

test: fix `ghx.state` definitions
  src/ghext.zig
Labels: none

build: update `paths`
  build.zig.zon
Labels: build

docs: update build usage
  README.md
Labels: documentation

test: rename cases
  src/ghext.zig
Labels: none

style: move `deinit()`
  src/ghext.zig
Labels: none

docs: drop standard usage
  README.md
Labels: documentation

fix: improve error handling
  src/ghext.zig
Labels: none

refactor: optimize `hash()`
  src/ghext.zig
Labels: none

docs: comment `HashLen`
  src/ghext.zig
Labels: none

feat: expose `PATH`
  src/ghext.zig
Labels: none

feat: add `GIT` switch
  src/ghext.zig
Labels: none

docs: update example
  README.md
Labels: documentation

docs: fix manifest example
  README.md
Labels: documentation

chore(release): prepare for 0.7.0
  CHANGELOG.md
Labels: none

docs: update installation
  README.md
Labels: documentation

chore: ignore test files
  .gitignore
Labels: none

test: add `headless`
  src/ghext.zig
Labels: none

style: fix test formatting
  src/ghext.zig
Labels: none

test: add `branch`
  src/ghext.zig
Labels: none

fix: deallocate on errors
  src/ghext.zig
Labels: none

test: add `hash invalid`
  src/ghext.zig
Labels: none

test: optimize errors
  src/ghext.zig
Labels: none

test: expand cases
  src/ghext.zig
Labels: none

fix: improve head detection
  src/ghext.zig
Labels: none

test: move head files
  src/ghext.zig
Labels: none

test: add `testDir()`
  src/ghext.zig
Labels: none

refactor: move deallocations
  src/ghext.zig
Labels: none

style: reformat `readWithoutGit()`
  src/ghext.zig
Labels: none

fix: handle trailing slash
  src/ghext.zig
Labels: none

test: add `empty path`
  src/ghext.zig
Labels: none

chore(release): prepare for 0.7.1
  CHANGELOG.md
  build.zig.zon
Labels: build

docs: update installation
  README.md
Labels: documentation

build: update zon file
  build.zig.zon
Labels: build

refactor: rename functions
  src/ghext.zig
Labels: none

test: add `hash long 256 (checked)`
  src/ghext.zig
Labels: none

fix: adjust array size
  src/ghext.zig
Labels: none

chore(release): prepare for 0.7.2
  CHANGELOG.md
  build.zig.zon
Labels: build
