Repository charlesrocket/ghext, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, test, ops

docs: add build system usage
  README.md
Labels: documentation

chore: bump version to 0.4.0
  build.zig.zon
Labels: build

chore(release): prepare for 0.4.0
  CHANGELOG.md
Labels: none

refactor: move source struct
  build.zig
  src/ghext.zig
Labels: build

fix: update `root_source_file`
  build.zig
Labels: build

fix(build): update `docs` step
  build.zig
Labels: build

fix(build): correct library name
  build.zig
Labels: build

chore: bump version to 0.4.1
  build.zig.zon
Labels: build

build: fix `docs` step
  build.zig
Labels: build

chore(release): prepare for 0.4.1
  CHANGELOG.md
Labels: none

fix: catch binary check errors
  src/ghext.zig
Labels: none

refactor: drop `gitInstalled()` error
  src/ghext.zig
Labels: none

feat!: add binary/fs errors
  src/ghext.zig
Labels: none

refactor: reformat `sha.len` switch
  src/ghext.zig
Labels: none

fix!: make `dirty` optional
  src/ghext.zig
Labels: none

chore(release): prepare for 0.5.0
  CHANGELOG.md
  build.zig.zon
Labels: build

style: reformat root file
  src/ghext.zig
Labels: none

style: reformat build file
  build.zig
Labels: build

ops: run coverage in jammy
  .github/workflows/ci.yml
Labels: ops

ops: bump zig version to 0.14
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ops

build: set minimum zig version
  build.zig.zon
Labels: build

build: add fingerprint
  build.zig.zon
Labels: build

fix: update name value
  build.zig.zon
Labels: build

chore: update LICENSE
  LICENSE
Labels: none

build: bump version to 0.5.1
  build.zig.zon
Labels: build

chore(release): prepare for 0.5.1
  CHANGELOG.md
Labels: none

refactor!: `read()` -> `init()`
  src/ghext.zig
Labels: none

feat!: add `hash_short()`
  src/ghext.zig
Labels: none

docs: update README
  README.md
Labels: documentation

docs: add example
  README.md
Labels: documentation

chore(release): prepare for 0.5.2
  CHANGELOG.md
  build.zig.zon
Labels: build

docs: update installation
  README.md
Labels: documentation

refactor: move validation subroutine
  src/ghext.zig
Labels: none

feat!: improve hash getter
  src/ghext.zig
Labels: none

docs: update usage
  README.md
Labels: documentation

docs: update returned value
  README.md
Labels: documentation

chore(release): prepare for 0.6.0
  CHANGELOG.md
  build.zig.zon
Labels: build

docs: update installation
  README.md
Labels: documentation

fix: use `BoundedArray`
  src/ghext.zig
Labels: none

test: add `hash_dirty`
  src/ghext.zig
Labels: none

.github/labeler.yml:

---

documentation:
- changed-files:
  - any-glob-to-any-file: 'README.md'

build:
- changed-files:
  - any-glob-to-any-file: ['build.zig.zon', 'build.zig']

test:
- changed-files:
  - any-glob-to-any-file: 'test/**/*'

ops:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml']

feature:
 - head-branch: ['^feature', 'feature']
